{% raw %}{% load i18n %}
{% load wagtail_menu %}
{% endraw %}{% if cookiecutter.multiple_languages == 'y' %}{% load wagtail_modeltranslation %}{% endif %}{% raw %}

{% endraw %}{% if cookiecutter.bootstrap_version == '3' %}{% raw %}
<div class="clearfix" id="{{menu_id}}-wrapper">
  <div class="navbar navbar-default {{class}}" role="navigation" id="{{menu_id}}">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{menu_id}}-navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Навигация</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          {% endraw %}{{ cookiecutter.project_slug }}{% raw %}
        </a>
        <span class="visible-xs navbar-brand">Главное меню</span>
      </div>

      <div class="collapse navbar-collapse" id="{{menu_id}}-navbar">
        <!--[if lt IE 9]>
          <ul class="nav navbar-nav">
        <![endif]-->
        <!--[if gte IE 9]>
          <ul class="nav navbar-nav nav-justified">
        <![endif]-->
        <![if !IE]>
        <ul class="navbar-nav-custom nav navbar-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
          <![endif]>
          {% endraw %}{% if cookiecutter.cms == 'None' %}{% raw %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          {% endraw %}{% elif cookiecutter.cms == 'wagtail' %}{% raw %}
            {% top_menu parent=site_root calling_page=self %}
          {% endraw %}{% endif %}{% raw %}
        </ul>
        
        {% endraw %}{% if cookiecutter.multiple_languages == 'y' %}
        {% if cookiecutter.cms == 'wagtail' %}
        {% raw %}
        <ul class="nav navbar-nav navbar-right">
          {% if request.LANGUAGE_CODE == 'ru' %}
            <a href="{% switch_language 'en' %}">English</a>
          {% else %}
            <a href="{% switch_language 'ru' %}">Russian</a>
          {% endif %}
        </ul>
        {% endraw %}{% endif %}{% endif %}{% raw %}
      </div>
    </div>
  </div>
</div>
{% endraw %}{%- elif cookiecutter.bootstrap_version == '4' %}{% raw %}
<nav class="navbar navbar-toggleable-md navbar-light bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% endraw %}{% if cookiecutter.cms == 'None' %}{% raw %}
    <a class="navbar-brand" href="{% url 'home' %}">paramono</a>
  {% endraw %}{% endif %}{% raw %}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto justify-content-center">
    {% endraw %}{% if cookiecutter.cms == 'None' %}{% raw %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    {% endraw %}{% endif %}{% raw %}
      {% comment %}
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
        </li>
        <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li class="nav-item">
          {# URL provided by django-allauth/account/urls.py #}
          <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
        </li>
      {% endif %}
      {% endcomment %}
    </ul>
  </div>
</nav>
{% endraw %}{% endif %}
