.d-none {display: none;}
.d-block {display: block;}
.d-inline {display: inline;}
.d-inline-block {display: inline-block;}

.d-table {display: table;}
.d-table-row {display: table-cell;}
.d-table-cell {display: table-cell;}

.va-top {vertical-align: top;}
.va-middle {vertical-align: middle;}
.va-bottom {vertical-align: bottom;}

.f-none {float: none;}
.f-left {float: left;}
.f-right {float: right;}
